In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.read_excel("BTC-USD.xlsx").head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0

In [3]:
BTC = pd.read_excel("BTC-USD.xlsx")

In [4]:
BTC.shape

(2439, 7)

In [5]:
# print(pd.DataFrame(BTC).dropna())
print(pd.DataFrame(BTC).dropna().shape)

(2435, 7)

In [6]:
BTC_modify = pd.DataFrame(BTC).dropna()

In [7]:
inputs = {
    'open': BTC_modify["Open"].to_numpy(),
    'high': BTC_modify["High"].to_numpy(),
    'low': BTC_modify["Low"].to_numpy(),
    'close': BTC_modify["Close"].to_numpy(),
    
    'volume': BTC_modify["Volume"].to_numpy()
}

In [8]:
from talib.abstract import *

In [9]:
BTC_modify.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0

In [10]:
BTC_modify["rsv"] = None
BTC_modify["K"] = None
BTC_modify["D"] = None

In [11]:
BTC_modify.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0,None,None,None
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0,None,None,None
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0,None,None,None

In [12]:
for i in range(9,len(BTC_modify)):
    Close=BTC_modify.iloc[i,5]
    High=BTC_modify.iloc[i,2]
    Low=BTC_modify.iloc[i,3]
    for j in range(1,9):
        if(BTC_modify.iloc[i-j,2]>High):
            High=BTC_modify.iloc[i-j,2]
        if(BTC_modify.iloc[i-j,3]<Low):
            Low=BTC_modify.iloc[i-j,3]
    BTC_modify.iloc[i,7]=(Close-Low)/(High-Low)*100

In [13]:
BTC_modify.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0,None,None,None
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0,None,None,None
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0,None,None,None
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0,None,None,None
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0,None,None,None
5,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600.0,None,None,None
6,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500.0,None,None,None
7,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,30627700.0,None,None,None
8,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,26814400.0,None,None,None
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,27.503847,None,None
10,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,26.28317,None,None
11,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,4.238005,None,None
12,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700.0,4.655451,None,None
13,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300.0,21.212699,None,None
14,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,26229400.0,16.410112,None,None
15,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,21777700.0,4.433869,None,None
16,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,30901200.0,2.517453,None,None
17,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,47236500.0,3.346372,None,None
18,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,83308096.0,26.604295,None,None
19,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,36.504343,None,None

In [14]:
BTC_modify.iloc[9,8]=50
BTC_modify.iloc[9,9]=50

In [15]:
BTC_modify.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0,None,None,None
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0,None,None,None
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0,None,None,None
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0,None,None,None
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0,None,None,None
5,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600.0,None,None,None
6,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500.0,None,None,None
7,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,30627700.0,None,None,None
8,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,26814400.0,None,None,None
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,27.503847,50,50
10,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,26.28317,None,None
11,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,4.238005,None,None
12,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700.0,4.655451,None,None
13,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300.0,21.212699,None,None
14,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,26229400.0,16.410112,None,None
15,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,21777700.0,4.433869,None,None
16,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,30901200.0,2.517453,None,None
17,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,47236500.0,3.346372,None,None
18,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,83308096.0,26.604295,None,None
19,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,36.504343,None,None

In [16]:
#K
for i in range(10,BTC_modify.shape[0]):
    k=BTC_modify.iloc[i-1,8]*2/3+BTC_modify.iloc[i,7]*1/3
    BTC_modify.iloc[i,8]=k
#D
for i in range(10,BTC_modify.shape[0]):
    d=BTC_modify.iloc[i-1,9]*2/3+BTC_modify.iloc[i,8]*1/3
    BTC_modify.iloc[i,9]=d

In [17]:
BTC_modify.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0,None,None,None
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0,None,None,None
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0,None,None,None
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0,None,None,None
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0,None,None,None
5,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600.0,None,None,None
6,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500.0,None,None,None
7,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,30627700.0,None,None,None
8,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,26814400.0,None,None,None
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,27.503847,50,50
10,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,26.28317,42.09439,47.364797
11,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,4.238005,29.475595,41.401729
12,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700.0,4.655451,21.202214,34.668558
13,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300.0,21.212699,21.205709,30.180941
14,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,26229400.0,16.410112,19.607176,26.656353
15,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,21777700.0,4.433869,14.549407,22.620704
16,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,30901200.0,2.517453,10.538756,18.593388
17,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,47236500.0,3.346372,8.141294,15.109357
18,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,83308096.0,26.604295,14.295628,14.838114
19,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,36.504343,21.698533,17.12492

In [18]:
BTC_input = pd.DataFrame(BTC_modify).dropna()

In [19]:
BTC_input.shape

(2426, 10)

In [20]:
BTC_input.head()

,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,27.503847,50,50
10,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,26.28317,42.09439,47.364797
11,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,4.238005,29.475595,41.401729
12,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700.0,4.655451,21.202214,34.668558
13,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300.0,21.212699,21.205709,30.180941

In [21]:
BTC_input.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,27.503847,50,50
10,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,26.28317,42.09439,47.364797
11,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,4.238005,29.475595,41.401729

In [22]:
BTC_input.reset_index()

,index,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D
0,9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,2.146080e+07,27.503847,50,50
1,10,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,1.502930e+07,26.28317,42.09439,47.364797
2,11,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,2.361330e+07,4.238005,29.475595,41.401729
3,12,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,3.249770e+07,4.655451,21.202214,34.668558
4,13,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,3.470730e+07,21.212699,21.205709,30.180941
...,...,...,...,...,...,...,...,...,...,...,...
2421,2434,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10,7.683789,15.540201,26.030902
2422,2435,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10,4.05563,11.71201,21.257938
2423,2436,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.263581e+11,23.189435,15.537819,19.351232
2424,2437,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,8.828194e+10,37.05808,22.711239,20.471234
2425,2438,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,7.462050e+10,43.578376,29.666951,23.536473

In [23]:
BTC_input.reset_index(drop = True).head(3)

,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D
0,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,27.503847,50,50
1,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,26.28317,42.09439,47.364797
2,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,4.238005,29.475595,41.401729

In [24]:
BTC_input.reset_index().drop(columns=['index']).head(3)

,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D
0,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,27.503847,50,50
1,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,26.28317,42.09439,47.364797
2,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,4.238005,29.475595,41.401729

In [25]:
BTC_input = BTC_input.reset_index(drop = True)

In [26]:
BTC_input.head()

,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D
0,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,27.503847,50,50
1,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,26.28317,42.09439,47.364797
2,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,4.238005,29.475595,41.401729
3,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700.0,4.655451,21.202214,34.668558
4,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300.0,21.212699,21.205709,30.180941

In [27]:
BTC_input["buy_day"]  = 0
BTC_input["cum_day"]  = 0
BTC_input["sell_day"] = 0

In [28]:
BTC_input.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D,buy_day,cum_day,sell_day
0,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,27.503847,50,50,0,0,0
1,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,26.28317,42.09439,47.364797,0,0,0
2,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,4.238005,29.475595,41.401729,0,0,0
3,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700.0,4.655451,21.202214,34.668558,0,0,0
4,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300.0,21.212699,21.205709,30.180941,0,0,0
5,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,26229400.0,16.410112,19.607176,26.656353,0,0,0
6,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,21777700.0,4.433869,14.549407,22.620704,0,0,0
7,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,30901200.0,2.517453,10.538756,18.593388,0,0,0
8,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,47236500.0,3.346372,8.141294,15.109357,0,0,0
9,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,83308096.0,26.604295,14.295628,14.838114,0,0,0

In [29]:

#黃金與死亡交叉 買賣訊號
for i in range(1,BTC_input.shape[0]):
    if(BTC_input["K"].iloc[i] > BTC_input["D"].iloc[i]) and (BTC_input["cum_day"].iloc[i-1]==0):
        BTC_input.iloc[i, -3]  = 1
        BTC_input.iloc[i, -2]  = 1
        BTC_input.iloc[i, -1]  = 0
    elif(BTC_input["K"].iloc[i] < BTC_input["D"].iloc[i])and (BTC_input["cum_day"].iloc[i-1]==1):
        BTC_input.iloc[i, -3]  = 0
        BTC_input.iloc[i, -2]  = 0
        BTC_input.iloc[i, -1]  = 1
    elif(BTC_input["cum_day"].iloc[i-1]>0):
        BTC_input.iloc[i, -3]  = 0
        BTC_input.iloc[i, -2]  = 1
        BTC_input.iloc[i, -1]  = 0

In [30]:
BTC_input["number"]        = 0
BTC_input["value"]         = 0
BTC_input["period_return"] = 0

In [31]:
BTC_input.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D,buy_day,cum_day,sell_day,number,value,period_return
0,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,27.503847,50,50,0,0,0,0,0,0
1,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,26.28317,42.09439,47.364797,0,0,0,0,0,0
2,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,4.238005,29.475595,41.401729,0,0,0,0,0,0
3,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700.0,4.655451,21.202214,34.668558,0,0,0,0,0,0
4,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300.0,21.212699,21.205709,30.180941,0,0,0,0,0,0
5,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,26229400.0,16.410112,19.607176,26.656353,0,0,0,0,0,0
6,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,21777700.0,4.433869,14.549407,22.620704,0,0,0,0,0,0
7,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,30901200.0,2.517453,10.538756,18.593388,0,0,0,0,0,0
8,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,47236500.0,3.346372,8.141294,15.109357,0,0,0,0,0,0
9,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,83308096.0,26.604295,14.295628,14.838114,0,0,0,0,0,0

In [32]:
BTC_input.shape

(2426, 16)

In [33]:
initial = 10000
for i in range(1, BTC_input.shape[0]):
#     買的訊號
    if(BTC_input["K"].iloc[i] > BTC_input["D"].iloc[i]) and (BTC_input["cum_day"].iloc[i-1]==0):
#         持有數量 = 手中的資本/ 該標的收盤價
        BTC_input.iloc[i, -3] = initial/ BTC_input["Adj Close"].iloc[i]
#     市值 = 持有數量* 該標的收盤價
        BTC_input.iloc[i, -2] = BTC_input["number"].iloc[i]*BTC_input["Adj Close"].iloc[i]
#     期間報酬 = (市值-投入成本)/市值
        BTC_input.iloc[i, -1] = round((BTC_input["value"].iloc[i]-initial)/initial,4)
#         賣的訊號
    elif(BTC_input["K"].iloc[i] < BTC_input["D"].iloc[i])and (BTC_input["cum_day"].iloc[i-1]==1):
#         持有數量為 0 
        BTC_input.iloc[i, -3] = 0
#     市值 = 持有數量* 該標的收盤價
        BTC_input.iloc[i, -2] = BTC_input["number"].iloc[i-1]*BTC_input["Adj Close"].iloc[i]
#     期間報酬 = (市值-投入成本)/市值
        BTC_input.iloc[i, -1] = round((BTC_input["value"].iloc[i]-initial)/initial,4)
#         持有的訊號
    elif(BTC_input["cum_day"].iloc[i-1]>0):
#         持有數量與上一期相同
        BTC_input.iloc[i, -3] = BTC_input.iloc[i-1, -3]
#     市值 = 持有數量* 該標的收盤價
        BTC_input.iloc[i, -2] = BTC_input["number"].iloc[i]*BTC_input["Adj Close"].iloc[i]
#     期間報酬 = (市值-投入成本)/市值
        BTC_input.iloc[i, -1] = round((BTC_input["value"].iloc[i]-initial)/initial,4)

In [34]:
import datetime
from datetime import date

In [35]:
BTC_input.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D,buy_day,cum_day,sell_day,number,value,period_return
0,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,27.503847,50,50,0,0,0,0.000000,0.000000,0.0000
1,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,26.28317,42.09439,47.364797,0,0,0,0.000000,0.000000,0.0000
2,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,4.238005,29.475595,41.401729,0,0,0,0.000000,0.000000,0.0000
3,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700.0,4.655451,21.202214,34.668558,0,0,0,0.000000,0.000000,0.0000
4,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300.0,21.212699,21.205709,30.180941,0,0,0,0.000000,0.000000,0.0000
5,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,26229400.0,16.410112,19.607176,26.656353,0,0,0,0.000000,0.000000,0.0000
6,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,21777700.0,4.433869,14.549407,22.620704,0,0,0,0.000000,0.000000,0.0000
7,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,30901200.0,2.517453,10.538756,18.593388,0,0,0,0.000000,0.000000,0.0000
8,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,47236500.0,3.346372,8.141294,15.109357,0,0,0,0.000000,0.000000,0.0000
9,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,83308096.0,26.604295,14.295628,14.838114,0,0,0,0.000000,0.000000,0.0000
10,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,36.504343,21.698533,17.12492,1,1,0,30.295777,10000.000000,0.0000
11,2014-10-07,330.584015,339.247009,320.481995,336.187012,336.187012,49199900.0,45.934209,29.777092,21.342311,0,1,0,30.295777,10185.046665,0.0185
12,2014-10-08,336.115997,354.364014,327.187988,352.940002,352.940002,54736300.0,62.345353,40.633179,27.7726,0,1,0,30.295777,10692.591510,0.0693
13,2014-10-09,352.747986,382.726013,347.687012,365.026001,365.026001,83641104.0,74.184737,51.817032,35.787411,0,1,0,30.295777,11058.746238,0.1059
14,2014-10-10,364.687012,375.066986,352.963013,361.562012,361.562012,43665700.0,75.119809,59.584624,43.719815,0,1,0,30.295777,10953.802000,0.0954
15,2014-10-11,361.362000,367.191010,355.950989,362.299011,362.299011,13345200.0,78.136576,65.768608,51.069413,0,1,0,30.295777,10976.129957,0.0976
16,2014-10-12,362.605988,379.433014,356.144012,378.549011,378.549011,17552800.0,95.529272,75.688829,59.275885,0,1,0,30.295777,11468.436330,0.1468
17,2014-10-13,377.920990,397.226013,368.897003,390.414001,390.414001,35221400.0,93.688492,81.688717,66.746829,0,1,0,30.295777,11827.895418,0.1828
18,2014-10-14,391.691986,411.697998,391.324005,400.869995,400.869995,38491500.0,90.078613,84.485349,72.659669,0,1,0,30.295777,12144.667878,0.2145
19,2014-10-15,400.954987,402.226990,388.765991,394.773010,394.773010,25267100.0,81.445155,83.471951,76.263763,0,1,0,30.295777,11959.954982,0.1960

In [36]:
print( type(BTC_input["Date"].iloc[5]))
BTC_input["Date"].iloc[5]

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

Timestamp('2014-10-01 00:00:00')

In [37]:
BTC_input["Date"].iloc[7]

Timestamp('2014-10-03 00:00:00')

In [38]:
BTC_input["Date"].iloc[7] > BTC_input["Date"].iloc[5]

True

In [39]:
BTC_input["Date"].iloc[7]-BTC_input["Date"].iloc[5]

Timedelta('2 days 00:00:00')

In [40]:
type(BTC_input["Date"].iloc[7]-BTC_input["Date"].iloc[5])

pandas._libs.tslibs.timedeltas.Timedelta

In [41]:
value = BTC_input["Date"].iloc[7]-BTC_input["Date"].iloc[5]

In [42]:
value

Timedelta('2 days 00:00:00')

In [43]:
value.days

2

In [44]:
(BTC_input["Date"].iloc[7]-BTC_input["Date"].iloc[5]).days

2

In [45]:
(BTC_input["Date"].iloc[7]-BTC_input["Date"].iloc[5]).days+1

3

In [46]:
BTC_input["holding_period"] = 0
BTC_input["annual_return"]  = 0

In [47]:
BTC_input.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D,buy_day,cum_day,sell_day,number,value,period_return,holding_period,annual_return
0,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,27.503847,50,50,0,0,0,0.000000,0.000000,0.0000,0,0
1,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,26.28317,42.09439,47.364797,0,0,0,0.000000,0.000000,0.0000,0,0
2,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,4.238005,29.475595,41.401729,0,0,0,0.000000,0.000000,0.0000,0,0
3,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700.0,4.655451,21.202214,34.668558,0,0,0,0.000000,0.000000,0.0000,0,0
4,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300.0,21.212699,21.205709,30.180941,0,0,0,0.000000,0.000000,0.0000,0,0
5,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,26229400.0,16.410112,19.607176,26.656353,0,0,0,0.000000,0.000000,0.0000,0,0
6,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,21777700.0,4.433869,14.549407,22.620704,0,0,0,0.000000,0.000000,0.0000,0,0
7,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,30901200.0,2.517453,10.538756,18.593388,0,0,0,0.000000,0.000000,0.0000,0,0
8,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,47236500.0,3.346372,8.141294,15.109357,0,0,0,0.000000,0.000000,0.0000,0,0
9,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,83308096.0,26.604295,14.295628,14.838114,0,0,0,0.000000,0.000000,0.0000,0,0
10,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,36.504343,21.698533,17.12492,1,1,0,30.295777,10000.000000,0.0000,0,0
11,2014-10-07,330.584015,339.247009,320.481995,336.187012,336.187012,49199900.0,45.934209,29.777092,21.342311,0,1,0,30.295777,10185.046665,0.0185,0,0
12,2014-10-08,336.115997,354.364014,327.187988,352.940002,352.940002,54736300.0,62.345353,40.633179,27.7726,0,1,0,30.295777,10692.591510,0.0693,0,0
13,2014-10-09,352.747986,382.726013,347.687012,365.026001,365.026001,83641104.0,74.184737,51.817032,35.787411,0,1,0,30.295777,11058.746238,0.1059,0,0
14,2014-10-10,364.687012,375.066986,352.963013,361.562012,361.562012,43665700.0,75.119809,59.584624,43.719815,0,1,0,30.295777,10953.802000,0.0954,0,0
15,2014-10-11,361.362000,367.191010,355.950989,362.299011,362.299011,13345200.0,78.136576,65.768608,51.069413,0,1,0,30.295777,10976.129957,0.0976,0,0
16,2014-10-12,362.605988,379.433014,356.144012,378.549011,378.549011,17552800.0,95.529272,75.688829,59.275885,0,1,0,30.295777,11468.436330,0.1468,0,0
17,2014-10-13,377.920990,397.226013,368.897003,390.414001,390.414001,35221400.0,93.688492,81.688717,66.746829,0,1,0,30.295777,11827.895418,0.1828,0,0
18,2014-10-14,391.691986,411.697998,391.324005,400.869995,400.869995,38491500.0,90.078613,84.485349,72.659669,0,1,0,30.295777,12144.667878,0.2145,0,0
19,2014-10-15,400.954987,402.226990,388.765991,394.773010,394.773010,25267100.0,81.445155,83.471951,76.263763,0,1,0,30.295777,11959.954982,0.1960,0,0

In [48]:
first=0
end=0
for i in range(1, BTC_input.shape[0]):
    if(BTC_input.iloc[i,10]==1):
        BTC_input.iloc[i,16]=1
        first=BTC_input.iloc[i,0]
    elif(( BTC_input.iloc[i,11]==1)or( BTC_input.iloc[i,12]==1)and( BTC_input.iloc[i,10]!=1)):
        end=BTC_input.iloc[i,0]
        BTC_input.iloc[i,16]=(end-first).days+1

In [49]:
 BTC_input.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D,buy_day,cum_day,sell_day,number,value,period_return,holding_period,annual_return
0,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,27.503847,50,50,0,0,0,0.000000,0.000000,0.0000,0,0
1,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,26.28317,42.09439,47.364797,0,0,0,0.000000,0.000000,0.0000,0,0
2,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,4.238005,29.475595,41.401729,0,0,0,0.000000,0.000000,0.0000,0,0
3,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700.0,4.655451,21.202214,34.668558,0,0,0,0.000000,0.000000,0.0000,0,0
4,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300.0,21.212699,21.205709,30.180941,0,0,0,0.000000,0.000000,0.0000,0,0
5,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,26229400.0,16.410112,19.607176,26.656353,0,0,0,0.000000,0.000000,0.0000,0,0
6,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,21777700.0,4.433869,14.549407,22.620704,0,0,0,0.000000,0.000000,0.0000,0,0
7,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,30901200.0,2.517453,10.538756,18.593388,0,0,0,0.000000,0.000000,0.0000,0,0
8,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,47236500.0,3.346372,8.141294,15.109357,0,0,0,0.000000,0.000000,0.0000,0,0
9,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,83308096.0,26.604295,14.295628,14.838114,0,0,0,0.000000,0.000000,0.0000,0,0
10,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,36.504343,21.698533,17.12492,1,1,0,30.295777,10000.000000,0.0000,1,0
11,2014-10-07,330.584015,339.247009,320.481995,336.187012,336.187012,49199900.0,45.934209,29.777092,21.342311,0,1,0,30.295777,10185.046665,0.0185,2,0
12,2014-10-08,336.115997,354.364014,327.187988,352.940002,352.940002,54736300.0,62.345353,40.633179,27.7726,0,1,0,30.295777,10692.591510,0.0693,3,0
13,2014-10-09,352.747986,382.726013,347.687012,365.026001,365.026001,83641104.0,74.184737,51.817032,35.787411,0,1,0,30.295777,11058.746238,0.1059,4,0
14,2014-10-10,364.687012,375.066986,352.963013,361.562012,361.562012,43665700.0,75.119809,59.584624,43.719815,0,1,0,30.295777,10953.802000,0.0954,5,0
15,2014-10-11,361.362000,367.191010,355.950989,362.299011,362.299011,13345200.0,78.136576,65.768608,51.069413,0,1,0,30.295777,10976.129957,0.0976,6,0
16,2014-10-12,362.605988,379.433014,356.144012,378.549011,378.549011,17552800.0,95.529272,75.688829,59.275885,0,1,0,30.295777,11468.436330,0.1468,7,0
17,2014-10-13,377.920990,397.226013,368.897003,390.414001,390.414001,35221400.0,93.688492,81.688717,66.746829,0,1,0,30.295777,11827.895418,0.1828,8,0
18,2014-10-14,391.691986,411.697998,391.324005,400.869995,400.869995,38491500.0,90.078613,84.485349,72.659669,0,1,0,30.295777,12144.667878,0.2145,9,0
19,2014-10-15,400.954987,402.226990,388.765991,394.773010,394.773010,25267100.0,81.445155,83.471951,76.263763,0,1,0,30.295777,11959.954982,0.1960,10,0

In [51]:
for i in range(0, BTC_input.shape[0]):
    if(BTC_input.iloc[i,-2]!=0):
        BTC_input.iloc[i,-1]=(1+BTC_input.iloc[i,-3])**(365/BTC_input.iloc[i,-2])-1

In [52]:
BTC_input.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume,rsv,K,D,buy_day,cum_day,sell_day,number,value,period_return,holding_period,annual_return
0,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,27.503847,50,50,0,0,0,0.000000,0.000000,0.0000,0,0.000000
1,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,26.28317,42.09439,47.364797,0,0,0,0.000000,0.000000,0.0000,0,0.000000
2,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,4.238005,29.475595,41.401729,0,0,0,0.000000,0.000000,0.0000,0,0.000000
3,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700.0,4.655451,21.202214,34.668558,0,0,0,0.000000,0.000000,0.0000,0,0.000000
4,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300.0,21.212699,21.205709,30.180941,0,0,0,0.000000,0.000000,0.0000,0,0.000000
5,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,26229400.0,16.410112,19.607176,26.656353,0,0,0,0.000000,0.000000,0.0000,0,0.000000
6,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,21777700.0,4.433869,14.549407,22.620704,0,0,0,0.000000,0.000000,0.0000,0,0.000000
7,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,30901200.0,2.517453,10.538756,18.593388,0,0,0,0.000000,0.000000,0.0000,0,0.000000
8,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,47236500.0,3.346372,8.141294,15.109357,0,0,0,0.000000,0.000000,0.0000,0,0.000000
9,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,83308096.0,26.604295,14.295628,14.838114,0,0,0,0.000000,0.000000,0.0000,0,0.000000
10,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,36.504343,21.698533,17.12492,1,1,0,30.295777,10000.000000,0.0000,1,0.000000
11,2014-10-07,330.584015,339.247009,320.481995,336.187012,336.187012,49199900.0,45.934209,29.777092,21.342311,0,1,0,30.295777,10185.046665,0.0185,2,27.371911
12,2014-10-08,336.115997,354.364014,327.187988,352.940002,352.940002,54736300.0,62.345353,40.633179,27.7726,0,1,0,30.295777,10692.591510,0.0693,3,3469.941523
13,2014-10-09,352.747986,382.726013,347.687012,365.026001,365.026001,83641104.0,74.184737,51.817032,35.787411,0,1,0,30.295777,11058.746238,0.1059,4,9750.513988
14,2014-10-10,364.687012,375.066986,352.963013,361.562012,361.562012,43665700.0,75.119809,59.584624,43.719815,0,1,0,30.295777,10953.802000,0.0954,5,773.122644
15,2014-10-11,361.362000,367.191010,355.950989,362.299011,362.299011,13345200.0,78.136576,65.768608,51.069413,0,1,0,30.295777,10976.129957,0.0976,6,287.635216
16,2014-10-12,362.605988,379.433014,356.144012,378.549011,378.549011,17552800.0,95.529272,75.688829,59.275885,0,1,0,30.295777,11468.436330,0.1468,7,1263.322372
17,2014-10-13,377.920990,397.226013,368.897003,390.414001,390.414001,35221400.0,93.688492,81.688717,66.746829,0,1,0,30.295777,11827.895418,0.1828,8,2120.186165
18,2014-10-14,391.691986,411.697998,391.324005,400.869995,400.869995,38491500.0,90.078613,84.485349,72.659669,0,1,0,30.295777,12144.667878,0.2145,9,2646.209278
19,2014-10-15,400.954987,402.226990,388.765991,394.773010,394.773010,25267100.0,81.445155,83.471951,76.263763,0,1,0,30.295777,11959.954982,0.1960,10,686.366017

In [53]:
annual_return=1
annual_period_return=1
trading=0

for i in range(0,BTC_input.shape[0]):
    if(BTC_input.iloc[i,12]==1):
        annual_return*=(1+BTC_input.iloc[i,-1])
        annual_period_return*=(1 + BTC_input.iloc[i,-3])
        trading+=1

final_return=annual_return**(1/trading)-1
final_period_return=annual_period_return**(1/trading)-1
print("交易次數:",trading,"年化報酬:",final_return,"期間年化報酬:",final_period_return)

交易次數: 193 年化報酬: 0.09738946028682438 期間年化報酬: 0.02823024612531322